.text-outline {
    text-shadow:
      -1.5px -1.5px 0 black,
      1.5px -1.5px 0 black,
      -1.5px 1.5px 0 black,
      1.5px 1.5px 0 black;
  }

  .text-lg{
    size: 100px;
  }

  .announcement-bar {
    background-color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .announcement-text {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 12s linear infinite;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .announcement-bar:hover .announcement-text {
    animation-play-state: paused;
  }

  @keyframes scrollText {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }